VITE_BASE_HOST=http://localhost
VITE_PROJECT_ID=contrato_id
VITE_REALTIME_HOST=http://localhost:3003
VITE_ID_CONSULTA_LISTA_USUARIOS=#colocar aquí el ID de la consulta que traiga la lista de usuarios del sistema